{% extends 'todo/layout.html' %}


{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header blue">{{ app_name }}</h1>

    <form class="ui form" action=" {{ url_for('add') }}" method="post">
        <h3 class="test_css">Plan your time</h3>
        <div class="field">
            <label>New task</label>
            <input type="text" name="title" placeholder="Enter new task"><br>
        </div>
        <button class="ui teal basic button" type="submit">Add</button>

    </form>



    {% for todo in todo_list %}
    <div class="ui segment">
        <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

        {% if todo.is_complete == False %}
        <span class="ui gray label">Not complete</span>
        <a class="ui primary basic button" href="{{ url_for('update', todo_id=todo.id) }}">Close</a>
        {% else %}
        <span class="ui green label">Complete</span>
        <a class="ui blue button" href="{{ url_for('update', todo_id=todo.id) }}">Close</a>
        <a class="ui negative basic button" href="{{ url_for('delete', todo_id=todo.id) }}">Delete</a>


        {% endif %}
    </div>
    {% endfor %}


</div>

{% endblock content %}