{% extends 'todo/layout.html' %}


{% block content %}
<body>

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header blue">{{ app_name }}</h1>

    <form class="ui form" action=" {{ url_for('add') }}" method="post">
        <h3 class="test_css">Plan your time</h3>
        <div class="field">
            <label>New task</label>
            <input type="text" id="messageText" name="title" placeholder="Enter new task" autocomplete="off"><br>
        </div>
        <button class="ui teal basic button" type="submit">Add</button>
    </form>


    <ol id='messages'>

    {% for todo in todo_list %}

    <li class="ui segment">
        <p class="ui big header"> {{ todo.title }}</p>

        {% if todo.is_complete == False %}
        <span class="ui gray label">Not complete</span>
        <a class="ui primary basic button" href="{{ url_for('update', todo_id=todo.id) }}">Close</a>
        {% else %}
        <span class="ui green label">Complete</span>
        <a class="ui blue button" href="{{ url_for('update', todo_id=todo.id) }}">Close</a>
        <a class="ui negative basic button" href="{{ url_for('delete', todo_id=todo.id) }}">Delete</a>


        {% endif %}
    </li>

    {% endfor %}
    </ol>

</div>
</body>

{% endblock content %}